/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

header {

position: fixed;
width: 100%;
height: 50PX;
z-index: 10;
text-decoration: none;


}


.navbarwrap {

}

nav  {

  background-color:#2E2E2E;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  font:'Raleway', sans-serif;
  letter-spacing: 2px;
  height: 50PX;
  padding-top: 16px;
  padding-right: 40px;

}


nav a.active {
    background-color: #84C7FF;
    color: white;
}

nav a:hover:not(.active){

    padding:20px 20px 13px 15px;
    background-color: #84C7FF;
    color: white;
}


nav a {

  padding-left: 10px;
  padding-right: 10px;
}

.leftsidenav {
  width: 40px;
  height: 400px;
  background-color: black;
  position: absolute;
  /*pointer-events: none;*/
  left: 0;


}

.leftbottom {

  width: 280px;
  height: 50px;
  background-color: black;
  position: absolute;
  z-index: 120;
  left: 0px;
  top: 400px;

}


.rightnavbar {

  width: 40px;
  height: 650px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;

}


nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    justify-content: space-between;

}


h1 {
  font-size: 32px;



}

h2 {
  letter-spacing: 1px;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 25px;
  padding-top: 20px;

}

h3 {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 12px;


}

p {
    font-size: 14px;
    padding-top: 10px;

}

h4 {
  font-size: 24px;

}


/*landing page of site*/

.welcome {
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 17px;
  z-index: 400px;
  color: white;
  width: 100%;


}


.wrapingit  {
  padding-left: 10px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 170px;
  padding-bottom: 170px;
  margin-top: 200px;
  padding-top: 200px;


}

.headlinestart {

  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 120px;
  top: 100px;
  z-index: 100px;
  transition: all 1s;
  opacity: 0;

}


.headline {

  font-size: 32px;
  position: absolute;
  left: 590px;
  top: 100px;
  z-index: 100px;
  opacity:1 ;
  transition: all 1s;
  padding: 40px 40px 40px 40px;
  box-shadow: 10px 10px 10px #888887;

}


.aboutstart {
  background-color: #FFFFFF;
  top: -920;
  left: -1250px;
  opacity: 0;
  position: absolute;
  z-index: -10;
  max-width: 100%;
  max-height: 100%;
  transition: all 1s;
  font-size: 24px;
  font-weight: 600;

}

.about  {

  position: absolute;
  top: 430px;
  left: 700px;
  z-index: -10;
  width: 33%;
  height: 20%;
  opacity: 1;
  transition: all 1s;
  background-color:#FFFFFF;
  box-shadow: 10px 10px 100px #888887;
  padding-right: 50px;
  padding-bottom: 50px;
  font-size: 24px;
  padding-left: 50px;
  margin-top: 20px;
  padding-top: 40px;

}

.logostart {

  top: -900px;
  opacity: 0;
  position: absolute;
  left: 50px;
  z-index: -10;
  transition: all 1s;
}


 .logo {
   position: absolute;
  top: -220px;
  left: 30px;
  opacity: .71;
  transition: all 1s;
  width: 30%;
  height: 30%;
}


.dropShadowstart {
  top: 500px;
  opacity: 0;
  position: absolute;
  left: -650px;
  z-index: -10;
  width: 50%;
  height: 50%;
  transition: all 1.9s;
  box-shadow: 0 0 0;
}


.dropShadow {

    position: absolute;
    opacity: .8;
    left: 520px;
    top: 350px;
    z-index: 100px;
    width: 25%;
    height: 60%;
    background-color: #292929;
    box-shadow: 10px 10px 10px #888888;
    transition: all 2s;

 }

 .photoslandingstart {

   position: absolute;
   opacity: 0;
   left: 1155px;
   top: -700px;
   z-index: 100px;
   max-height: 300px;
   max-width: 400px;

 }

.photoslanding {

  opacity: 1;
  position: absolute;
  left: 345px;
  top: 240px;
  z-index: 100px;
  height: 25%;
  width: 26%;
  transition: all 1.4s;

}

.underline   {
  position: absolute;
  left: 550px;
  top: 1100px;
  z-index: 100px;
  width: 350px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}


.Heading1 {
color: white;
font-size: 42px;
font-style: normal;
text-align: center;
margin-top: 200px;
padding-top: 100px;
background:rgb(39,39,39);
text-align: center;
width: 100%;


}

.talent {

  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top:50px;
  padding-bottom:100px;
  padding-left: 100px;
  padding-right: 50px;
  display:inline-block;
  flex-wrap: wrap;
  justify-content: space-between;

}


.skils {
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  flex-wrap: wrap;
  background:rgb(39,39,39);
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 50px;

}

.projects {
  font-size: 12px;
  flex-wrap: wrap;
  display: inline-flex;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 100px;
}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
  width: 400px;
  height: 400px;


}


.subheadingprojects {

  position: absolute;
  top: 290px;
  left: 30px;
  width: 100%;

}



.subheadingprojects1 {

  position: absolute;
  top: 290px;
  left: 140px;
  width: 40%;

}


.subheadingprojects2 {

  position: absolute;
  top: 290px;
  right: -60px;
  width: 100%;

}



.subheadingprojects3 {

  position: absolute;
  top: 300px;
  left: 70px;
  width: 100%;

}


.subheadingprojects4 {

  position: absolute;
  top: 300px;
  left: 90px;
  width: 100%;

}



.subheadingprojects5 {

  position: absolute;
  top: 300px;
  left: 72px;
  width: 100%;
}


.bodyprojects {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 50px;
  text-align: center;


}

.bodyprojects1 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 80px;
  text-align: center;

}



.bodyprojects2 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 80px;
  text-align: center;


}


.bodyprojects3  {


  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 50px;
  text-align: center;

}


.bodyprojects4 {


  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 85px;
  text-align: center;

}

.bodyprojects5 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 70px;
  text-align: center;

}


.image {
  display: inline-flex;
  object-fit: cover;
  width: 2290px;
  height: 240px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  width: 400px;
  height: 300px;
  padding: 10px 10px 10px 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.containers:hover .overlay {
  opacity: .5;
}

.text {
  opacity: 20;
  color: black;
  font-size: 24px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projectsWrap {

  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;

}

.subheading1 {
  text-align: center;
  color: black;
}


.headingprojects {

  color: black;
  font-size: 42px;
  padding-top: 20px;
  font-style: normal;
  text-align: center;

}


.underline1 {

  position: relative;
  left: 620px;
  top: 100px;
  width: 195px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}



/*contactpage*/

.contactinfostuff {

  position: absolute;
  left: 1px;
  top: 1px;
}



.textcontactnav {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 392px;
  left: 40px;
  z-index: 600;


}

.image1 {

  position: relative;
}

.arrow-right {
  position: absolute;
  top: 349px;
  left: 120px;
  z-index: 600;
  width: 100;
  height: 10;

}



.headingContact {

  font-weight: bold;
  font-size: 24px;
  color: white;
  position: absolute;
  left: 100px;
  top: 80px;
  color: black;
  z-index:100px;
  padding-top: 17px;
  padding-left: 30px;
  width: 660px;
  height: 90px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;

}

.contact {

  position: absolute;
  left: 370px;
  top: 240px;
  z-index: 200;
  width: 150px;
  height: 100px;

}


.contactchanelshead {

  position: absolute;
  left: -70px;
  top: -10px;
  z-index: 200;
  width: 250px;
  height: 100px;
}




.hitmeup  {
  position: absolute;
  left: 10px;
  top: 95px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.hitmeup1{

  position: absolute;
  left: 10px;
  top: 168px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.iconphotos2 {

  position: absolute;
  left: -50px;
  top: 160px;
  z-index: 10;
  width: 50%;
  height: 50%;
}

.iconphotos1  {

  position: absolute;
  left: -46px;
  top: 90px;
  z-index: 10;
  width: 150px;
  height: 150px;

}



.DropShadow1 {
  position: absolute;
  left: 250px;
  top: 240px;
  z-index: 1;
  width: 380px;
  height: 290px;
  color: white;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow2 {
  position: absolute;
  left: 320px;
  top: 305px;
  z-index: -10;
  width: 340px;
  height: 260px;
  color: black;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow3 {

  position: absolute;
  left: 80px;
  top: 70px;
  z-index: -10;
  width: 500px;
  height: 440px;
  color: white;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;

}




.contctwarping {

  position: absolute;
  left: 160px;
  top: 210px;
  z-index: -100;
  width: 1190px;
  height: 590px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 1px #888888;
  padding-bottom: 400px;
  margin-bottom: 400px;


}



.contactforumhead {

margin-right:33px;
padding-right: 20px;

}



.container {

  position: absolute;
  left: 720px;
  top: 140px;
  z-index: 100px;
  width: 540px;
  height: 480px;
  border-radius: 1px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  box-shadow: 1px 1px 1px #888888;


}


.contactfotterhead {
  padding-top: 890px;

}



input[type=text], select, textarea {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #84C7FF;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 11px;
    resize: vertical;
    font-size: 12px;
    color: black;
}


input[type=submit] {
    background-color: #005094;
    color: white;
    margin-top: 5px;
    padding: 13px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}




/*projects page*/



.headingprojects1 {

  text-align: center;
  position: relative;
  padding-top: 50px;


}


.underline3  {

  position: relative;
  left: 620px;
  top: 120px;
  width: 195px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}

.subheadingprojects10 {

  position: absolute;
  top: 290px;
  left: 20px;


}



.subheadingprojects11 {

  position: absolute;
  top: 290px;
  left: 132px;

}


.subheadingprojects12 {

  position: absolute;
  top: 290px;
  left: 42px;

}


.subheadingprojects13 {

  position: absolute;
  top: 290px;
  left: 2px;
  width: 100%;

}


.subheadingprojects14 {

  position: absolute;
  top: 290px;
  left: 19px;

}



.subheadingprojects15 {


  position: absolute;
  top: 280px;
  left: 49px;

}


.bodyprojects10 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 45px;
  text-align: center;

}

.bodyprojects11 {

  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 80px;
  text-align: center;

}



.bodyprojects12 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 80px;
  text-align: center;


}


.bodyprojects13  {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 50px;
    text-align: center;

}


.bodyprojects14 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 70px;
    text-align: center;

}

.bodyprojects15 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 70px;
    text-align: center;

}


/*resume/about  page of the site*/



.headingAbout  {

  line-height: 40px;
  font-size: 28px;
  font-weight: 900;
  position: absolute;
  left: 80px;
  top: 90px;
  color: black;
  z-index:100px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;



}

.resumeabout {

    display: inline-block;
    padding-top: 295px;
    margin-bottom: 250px;
    padding-left: 150px;
    padding-right: 80px;
    margin-left: 100px;
    width: 1200px;
    height: 1200px;
    border: 10PX 10PX 10PX 10PX;
    border-color: black;


}

.imagez {

  display: inline-flex;
  object-fit: cover;
  width: 90%;
  height: 90%;
  margin-left: 20px;

}


/*for the resie*/

.imagezs {

  display: inline;
  padding-bottom: 10px;
  margin-bottom: 10px;
  object-fit: cover;


}


.photoswapper {

  padding: .6vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;


}

.photos {

  -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 400px;
   margin: .012vw;
   padding: 3px 3px 3px 3px;


}


.photographyheading {

    text-align: center;
    display: inline;
    color: white;
    justify-content: space-between;

}

.underline7 {
  display: inline-flex;
  left: 100px;
  margin-left: 600px;
  margin-bottom: 10px;
  padding-left: 250px;
  padding-bottom: 10px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}

.bigwrap {

  padding-bottom: 10px;
  padding-top: 50px;
  background-color: black;
}


/*project1 page for moderna farms */

.headingproject1 {

padding: 100px 100px 100px;
position: relative;
top: 10px;
left: 10px;
color: black;
z-index: 100;



}

h5 {

  font-size: 24px;
  line-height: 20px;
  z-index: 100;
  color: black;

}

.dropshaowprojectpage {

  position: absolute;
  top: 99px;
  left:70px;
  z-index: 10;
  width: 640px;
  height: 150px;
  background-color: #F7F7F7;
  box-shadow: 12px 12px 2px grey;
  font-size: 24px;


}

.modernawrapper {

display: inline;
padding-top: 40px;
padding-bottom: 40px;


}

.Moderna {

  color: black;
  margin-left: 220px;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 20px;
  margin-bottom: 120px;
  box-shadow: 50px 50px 1px grey;
  max-width: 1050px;
  max-width: 1050px;

}


.modernaDrop {

  margin-left: 100px;
  right: 400px;
  color: black;
  max-width: 900px;
  max-width: 900px;

}


.backgroundcolor {

  background-color: white;
}


/*footer*/

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	padding-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}


.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'roboto', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
  padding-right: 5px;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 20px 20px 10px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;

}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}



@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/*breakpoint for 13 inch computers*/


@media only screen and (max-width: 1279px) {


  .welcome {
    font-size: 14px;
    position: absolute;
    left: 40px;
    top: 17px;
    z-index: 400px;
    color: white;
    width: 80%;


  }


  .wrapingit  {
    padding-left: 10px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 170px;
    padding-bottom: 170px;
    margin-top: 200px;
    padding-top: 200px;


  }

  .headlinestart {

    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 100px;
    transition: all 1s;
    opacity: 0;


  }


  .headline {

    font-size: 24px;
    position: absolute;
    left: 560px;
    top: 130px;
    max-width:500px;
    z-index: 100px;
    opacity:1 ;
    transition: all 1s;
    padding: 30px 30px 30px 30px;
    box-shadow: 10px 10px 10px #888887;

  }


  .aboutstart {
    background-color: #FFFFFF;
    top: -920;
    left: -130px;
    opacity: 0;
    position: absolute;
    z-index: -10;
    max-width: 380px;
    max-height: 100%;
    transition: all 1s;
    font-size: 24px;
    font-weight: 600;

  }

  .about  {

    position: absolute;
    top: 380px;
    left: 660px;
    z-index: -10;
    width: 35%;
    height: 15%;
    opacity: 1;
    transition: all 1s;
    background-color:#FFFFFF;
    box-shadow: 10px 10px 10px #888887;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    padding-left: 40px;
    margin-top: 20px;
    padding-top: 30px;

  }

  .logostart {

    top: -1000px;
    opacity: 0;
    position: absolute;
    left: 50px;
    z-index: -10;
    transition: all 1s;
  }


   .logo {
     position: absolute;
    top: -150px;
    left: 30px;
    opacity: .71;
    transition: all 1s;
    width: 29%;
    height: 29%;
  }


  .dropShadowstart {
    top: 480px;
    opacity: 0;
    position: absolute;
    left: -650px;
    z-index: -10;
    width: 50%;
    height: 50%;
    transition: all 1.9s;
    box-shadow: 0 0 0;
  }


  .dropShadow {

      position: absolute;
      opacity: .8;
      left: 460px;
      top: 320px;
      z-index: 100px;
      width: 28%;
      height: 58%;
      background-color: #292929;
      box-shadow: 10px 10px 10px #888888;
      transition: all 2s;

   }

   .photoslandingstart {

     position: absolute;
     opacity: 0;
     left: 1155px;
     top: -700px;
     z-index: 100px;
     max-height: 300px;
     max-width: 400px;

   }

  .photoslanding {

    opacity: 1;
    position: absolute;
    left: 315px;
    top: 240px;
    z-index: 100px;
    height: 30%;
    width: 30%;
    transition: all 1.4s;

  }



  .underline   {
    position: absolute;
    left: 435px;
    top: 1100px;
    z-index: 100px;
    width: 320px;
    height: 8px;
    background-color: #84C7FF;
    box-shadow: 1px 1px 1px #888888;

  }


  .Heading1 {
  color: white;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  margin-top: 200px;
  padding-top: 100px;
  background:rgb(39,39,39);
  text-align: center;
  width: 100%;
  padding-bottom: 20px;



  }

  .talent {

    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top:50px;
    padding-bottom:100px;
    padding-left: 50px;
    padding-right: 50px;
    display:inline-block;
    flex-wrap: wrap;
    justify-content: space-between;

  }


  .skils {
    padding-top: 10px;
    padding-bottom: 10px;
    display:inline-block;
    flex-wrap: wrap;
    background:rgb(39,39,39);
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 50px;

  }






/*projects section for 13 inch labtop*/


.projectsWrap {

  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 120px;
  margin-right: 120px;

}


.projects {
  font-size: 12px;
  flex-wrap: wrap;
  display: inline-flex;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 100px;

}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 400px;


}

.underline1 {

  position: relative;
  left: 500px;
  top: 100px;
  width: 195px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}






/*projects page for 13ich laptop*/


.underline3  {

  position: relative;
  left:530px;
  top: 130px;
  width: 195px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}




/*contact page for 13 inch laptop*/




.contactinfostuff {

  position: absolute;
  left: 1px;
  top: 1px;
}



.textcontactnav {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 392px;
  left: 40px;
  z-index: 600;


}

.image1 {

  position: relative;
}

.arrow-right {
  position: absolute;
  top: 349px;
  left: 120px;
  z-index: 600;
  width: 100;
  height: 10;

}



.headingContact {

  font-weight: bold;
  font-size: 24px;
  color: white;
  position: absolute;
  left: 100px;
  top: 80px;
  color: black;
  z-index:100px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 30px;
  width: 580px;
  height: 90px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;

}

.contact {

  position: absolute;
  left: 340px;
  top: 240px;
  z-index: 200;
  width: 150px;
  height: 100px;

}


.contactchanelshead {

  position: absolute;
  left: -70px;
  top: -10px;
  z-index: 200;
  width: 250px;
  height: 100px;
}




.hitmeup  {
  position: absolute;
  left: 10px;
  top: 95px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.hitmeup1{

  position: absolute;
  left: 10px;
  top: 168px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.iconphotos2 {

  position: absolute;
  left: -50px;
  top: 160px;
  z-index: 10;
  width: 50%;
  height: 50%;
}

.iconphotos1  {

  position: absolute;
  left: -46px;
  top: 90px;
  z-index: 10;
  width: 150px;
  height: 150px;

}



.DropShadow1 {
  position: absolute;
  left: 240px;
  top: 240px;
  z-index: 1;
  width: 340px;
  height: 290px;
  color: white;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow2 {
  position: absolute;
  left: 310px;
  top: 305px;
  z-index: -10;
  width: 300px;
  height: 260px;
  color: black;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow3 {

  position: absolute;
  left: 60px;
  top: 80px;
  z-index: -10;
  width: 440px;
  height: 440px;
  color: white;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;

}




.contctwarping {

  position: absolute;
  left: 60px;
  top: 210px;
  z-index: -100;
  width: 1100px;
  height: 590px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 1px #888888;
  padding-bottom: 400px;
  margin-bottom: 400px;


}



.contactforumhead {

margin-right:33px;
padding-right: 20px;

}



.container {

  position: absolute;
  left: 640px;
  top: 140px;
  z-index: 100px;
  width: 460px;
  height: 490px;
  border-radius: 1px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
  box-shadow: 1px 1px 1px #888888;


}


.contactfotterhead {
  padding-top: 890px;

}



input[type=text], select, textarea {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #84C7FF;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 11px;
    resize: vertical;
    font-size: 12px;
    color: black;
}


input[type=submit] {
    background-color: #005094;
    color: white;
    margin-top: 5px;
    padding: 13px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}




@media only screen and (min-width : 340px ) and ( max-width : 680px ) {


/*navigation mobile wraped*/

  nav  {

    background-color:#2E2E2E;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    font:'Raleway', sans-serif;
    letter-spacing: 2px;
    height: 50PX;
    padding-top: 18px;
    padding-right: 10px;
    font-weight: bold;


  }

  nav a.active {
      background-color: #84C7FF;
      color: white;
  }

  nav a:hover:not(.active){

      padding:20px 20px 13px 10px;
      background-color: #84C7FF;
      color: white;
  }


  nav a {

    padding-left: 10px;
    padding-right: 10px;
  }


  .navbarwrap {

    font-size: 2px;
    width:100%;
    height: 100%;

  }

  .leftbottom {
    display: none;

  }

  .leftsidenav {

    display: none;
  }

  a .nav {

    font-size: 2px;
    width: 50%;
    height: 50%;

  }

a {

  width: 50%;

}

  header {
      width: 100%;
  }

  .rightnavbar {

  display: none;


  }


  /*hompage resized for mobile use*/

  .welcome {
    font-size: 12px;
    position: absolute;
    left: 40px;
    top: 18px;
    z-index: 400px;
    color: white;
    width: 50%;


  }


  .wrapingit  {
    padding-left: 10px;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 100px;
    padding-bottom: 60px;
    margin-top: 110px;
    padding-top: 100px;


  }

  .headlinestart {

    font-size: 11px;
    position: absolute;
    left: -160px;
    top: 100px;
    z-index: 100px;
    transition: all 1s;
    opacity: 0;

  }


  .headline {

    font-size: 11px;
    position: absolute;
    left: 140px;
    top: 89px;
    z-index: 100px;
    opacity:1 ;
    transition: all 1s;
    padding: 20px 10px 10px 10px;
    box-shadow: 10px 10px 10px #888887;

  }


  .aboutstart {
    background-color: #FFFFFF;
    top: 220;
    left: 50px;
    opacity: 0;
    position: absolute;
    z-index: -10;
    max-width: 450px;
    max-height: 450px;
    transition: all 1s;

  }

  .about  {
    background-color:#FFFFFF;
    box-shadow: 10px 10px 100px #888887;
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: 9px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 20px;
    position: absolute;
    top: 190px;
    left: 220px;
    z-index: -10;
    width: 160px;
    height: 60px;
    opacity: 1;
    transition: all 1s;

  }

  .logostart {

    top: -900px;
    opacity: 0;
    position: absolute;
    left: 0px;
    z-index: -10;
    transition: all 1s;
    max-width: 150px;
    max-height: 150px;
  }


   .logo {
    top: -1px;
    opacity: .71;
    transition: all 1s;
    max-width: 50%;
    max-height: 50%;
  }


  .dropShadowstart {
    top: 500px;
    opacity: 0;
    position: absolute;
    left: -650px;
    z-index: -10;
    transition: all 1.9s;
    box-shadow: 0 0 0;
  }


  .dropShadow {

      position: absolute;
      opacity: .8;
      left: 120px;
      top: 180px;
      z-index: 100px;
      height: 150px;
      width: 120px;
      background-color: #292929;
      box-shadow: 10px 10px 10px #888888;
      transition: all 2s;

   }

   .photoslandingstart {

     position: absolute;
     opacity: 0;
     left: 1155px;
     top: -700px;
     z-index: 100px;
     width: 40%;
     height: 40%;

   }

  .photoslanding {

    opacity: 1;
    position: absolute;
    left: 80px;
    top: 140px;
    z-index: 100px;
    width: 140px;
    height: 160px;
    transition: all 1.4s;

  }


/*skils sections*/


.underline   {
  position: absolute;
  left: 70px;
  top: 500px;
  z-index: 100px;
  width: 260px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}

.talent {

  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top:30px;
  padding-bottom:30px;
  padding-left: 10px;
  padding-right: 10px;
  display:inline-block;
  flex-wrap: wrap;
  justify-content: space-between;

}




.Heading1 {

  color: white;
  font-size: 34px;
  font-style: bold;
  text-align: center;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
  background:rgb(39,39,39);
  text-align: center;
  width: 100%;
  font-style:


}


.skils {
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  flex-wrap: wrap;
  background:rgb(39,39,39);
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}









/*proejcts section*/

.projects {
  font-size: 12px;
  flex-wrap: wrap;
  display: inline-flex;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 100px;



}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 400px;
  height: 400px;

}


.subheadingprojects {

  position: absolute;
  top: 290px;
  left: 40px;
  width: 350px;


}



.subheadingprojects1 {

  position: absolute;
  top: 290px;
  left: 130px;
  width: 200px;

}


.subheadingprojects2 {

  position: absolute;
  top: 290px;
  left: 40px;
  width: 350px;
}



.subheadingprojects3 {

  position: absolute;
  top: 300px;
  left: 70px;
  width: 300px;

}


.subheadingprojects4 {

  position: absolute;
  top: 300px;
  left: 50px;
  width: 350px;

}



.subheadingprojects5 {

  position: absolute;
  top: 300px;
  left: 60px;
  width: 300px;
}


.bodyprojects {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;


}

.bodyprojects1 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;

}



.bodyprojects2 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;


}


.bodyprojects3  {


  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;

}


.bodyprojects4 {


  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;

}

.bodyprojects5 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 350px;
  left: 60px;
  text-align: center;


}


.image {
  display: inline-flex;
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  width: 400px;
  height: 300px;
  padding: 10px 10px 10px 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.containers:hover .overlay {
  opacity: .5;
}

.text {
  opacity: 20;
  color: black;
  font-size: 24px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projectsWrap {

  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

 max-width: 400px;


}

.subheading1 {
  text-align: center;
  color: black;
}


.headingprojects {

  color: black;
  font-size: 42px;
  padding-top: 20px;
  font-style: normal;
  text-align: center;

}


.underline1 {

  position: relative;
  left:100px;
  top: 100px;
  width: 195px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}


/*proejcts section finished for homepage*/





/*contactpage for mobilve*/



.textcontactnav {
display: none;

}

.contactinfostuff {

  position: absolute;
  left: -220px;
  top: 1px;

}


.arrow-right {
display: none;

}



.headingContact {

  font-weight: bold;
  font-size: 14px;
  color: white;
  position: absolute;
  left: 30px;
  top: 80px;
  color: black;
  z-index:100px;
  padding-top: 15px;
  padding-left: 20px;
  width: 330px;
  height: 70px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;

}




.hitmeup  {
  position: absolute;
  left: 10px;
  top: 95px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.hitmeup1{

  position: absolute;
  left: 10px;
  top: 168px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.iconphotos2 {

  position: absolute;
  left: -50px;
  top: 160px;
  z-index: 10;
  width: 40px;
  height: 40px
}

.iconphotos1  {

  position: absolute;
  left: -46px;
  top: 90px;
  z-index: 10;
  width: 40px;
  height: 40px;

}


.DropShadow2 {
  position: absolute;
  left: 300px;
  top: 300px;
  z-index: -10;
  width: 310px;
  height: 260px;
  color: black;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow3 {

display: none;

}

.contctwarping {
display: none;


}



.contactforumhead {

display: none;

}



.container {

  display: none;


}


.contactfotterhead {
  padding-top: 700px;

}



/*about page of the site addapted for mobile use*/

/*resume/about  page of the site*/



.headingAbout  {

  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  padding: 15px 15px 15px 15px;
  color: white;
  position: absolute;
  left: 10px;
  top: 75px;
  color: black;
  z-index:100px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;



}

.resumeabout {

    display: inline-block;
    padding-top: 180px;
    margin-bottom: 250px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 4px;
    margin-right: 2px;
    width: 390px;
    height: 390px;
    border: 10PX 10PX 10PX 10PX;
    border-color: black;


}

.imagez {

  display: inline-flex;
  object-fit: cover;
  width: 90%;
  height: 90%;
  margin-left: 20px;

}


/*for the resie*/

.imagezs {

  display: inline;
  padding-bottom: 10px;
  margin-bottom: 80px;
  object-fit: cover;


}


.photoswapper {

  padding: .2vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;


}

.photos {

  -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 400px;
   margin: .2vw;
   padding: 3px 3px 3px 3px;


}


.photographyheading {

    text-align: center;
    display: inline;
    color: white;
    justify-content: space-between;

}

.underline7 {
display: none;

}

.bigwrap {

  padding-bottom: 10px;
  padding-top: 50px;
  background-color: black;
}



/*projects page adobted for mobile use*/


.underline3  {

  font-weight: 600;
  position: relative;
  left: 112px;
  top: 130px;
  width: 175px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}



.projectsWrap {

  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 400px;

}


.projects {
  font-size: 12px;
  flex-wrap: wrap;
  display: inline-flex;
  width: 400px;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 60px;



}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 100px;
  width: 400px;
  height: 400px;

}


.subheadingprojects10 {

  position: absolute;
  top: 290px;
  left: 42px;
  width: 350px;


}



.subheadingprojects11 {

  position: absolute;
  top: 290px;
  left: 123px;
  width: 150px;

}


.subheadingprojects12 {

  position: absolute;
  top: 290px;
  left: 42px;

}


.subheadingprojects13 {

  position: absolute;
  top: 290px;
  left: 81px;
  width: 300px;

}


.subheadingprojects14 {

  position: absolute;
  top: 290px;
  left: 65px;

}



.subheadingprojects15 {


  position: absolute;
  top: 280px;
  left: 60px;

}


.bodyprojects10 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 60px;
  text-align: center;

}

.bodyprojects11 {

  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 60px;
  text-align: center;

}



.bodyprojects12 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 340px;
  left: 60px;
  text-align: center;


}


.bodyprojects13  {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 60px;
    text-align: center;

}


.bodyprojects14 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 60px;
    text-align: center;

}

.bodyprojects15 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 340px;
    left: 60px;
    text-align: center;

}
