
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
    box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

header {

position: fixed;
width: 100%;;
height: 50PX;
z-index: 10;
text-decoration: none;

}

nav  {

  background-color:#2E2E2E;
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  font:'Raleway', sans-serif;
  letter-spacing: 2px;
  height: 50PX;
  padding-top: 15px;
  padding-right: 50px;


}


nav a.active {
    background-color: blue;
    color: white;
}

nav a:hover, .active {

    padding:20px 15px 15px 15px;
    background-color: blue;
    color: white;
}


nav a {

  padding-left: 10px;
  padding-right: 10px;
}

.leftsidenav {
  width: 40px;
  height: 400px;
  background-color: black;
}

.leftbottom {

  width: 280px;
  height: 60px;
  background-color: black;
  position: absolute;
  z-index: 120;
  left: 0px;
  top: 200;

}


.rightnavbar {

  width: 40px;
  height: 650px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;

}


nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    justify-content: space-between;

}

h1 {
  font-size: 42px;


}

h2 {
  letter-spacing: 1px;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 25px;
  padding-top: 20px;

}

h3 {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 12px;


}

p {
    font-size: 14px;
    padding-top: 10px;

}

h4 {
  font-size: 24px;

}



.welcome {
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 25px;
  z-index: 400px;
  color: white;
  width: 100%;


}


.wrapingit  {
  padding-left: 10px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 170px;
  padding-bottom: 170px;
  margin-top: 200px;
  padding-top: 200px;

}

.headlinestart {

  font-size: 18px;
  position: absolute;
  left: 120px;
  top: 120px;
  z-index: 100px;
  transition: all 1s;
  opacity: 0;

}


.headline {

  font-size: 18px;
  position: absolute;
  left: 620px;
  top: 120px;
  z-index: 100px;
  opacity:1 ;
  transition: all 1s;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px #888887;

}


.aboutstart {
  background-color: #FFFFFF;
  top: -920;
  left: -1250px;
  opacity: 0;
  position: absolute;
  z-index: -10;
  max-width: 950px;
  max-height: 950px;
  transition: all 1s;

}

.about  {
  background-color:#FFFFFF;
  box-shadow: 10px 10px 100px #888887;
  padding-right: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  padding-left: 50px;
  margin-top: 10px;
  padding-top: 20px;
  position: absolute;
  top: 450px;
  left: 720px;
  z-index: -10;
  max-width: 550px;
  max-height: 550px;

  opacity: 1;
  transition: all 1s;

}

.logostart {

  top: -900px;
  opacity: 0;
  position: absolute;
  left: 50px;
  z-index: -10;
  max-width: 450px;
  max-height: 450px;
  transition: all 1s;
}


 .logo {
  top: -200px;
  opacity: 1;
  transition: all 1s;
}


.dropShadowstart {
  top: 799px;
  opacity: 0;
  position: absolute;
  left: -650px;
  z-index: -10;
  max-width: 450px;
  max-height: 450px;
  transition: all 1.9s;
  box-shadow: 0 0 0;
}


.dropShadow {

   opacity: 1;
   left: 550px;
   top: 390px;
   z-index: 100px;
   width: 400px;
   height: 480px;
   background-color: #292929;
   box-shadow: 10px 10px 10px #888888;
   transition: all 2s;

 }

 .photoslandingstart {

   position: absolute;
   opacity: 0;
   left: 1155px;
   top: -900px;
   z-index: 100px;
   max-height: 300px;
   max-width: 400px;

 }

.photoslanding {

  opacity: 1;
  position: absolute;
  left: 355px;
  top: 290px;
  z-index: 100px;
  max-height: 300px;
  max-width: 400px;
  transition: all 1.4s;

}

.underline   {
  position: absolute;
  left: 666px;
  top: 1100px;
  z-index: 100px;
  width: 350px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}


.Heading1 {
color: white;
font-size: 42px;
font-style: normal;
text-align: center;
margin-top: 200px;
padding-top: 100px;
background:rgb(39,39,39);
text-align: center;


}

.talent {

  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top:50px;
  padding-bottom:100px;
  padding-left: 100px;
  padding-right: 100px;
  display:inline-block;
  flex-wrap: wrap;
  justify-content: space-between;

}


.skils {
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  flex-wrap: wrap;
  background:rgb(39,39,39);
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

}

.projects {
  font-size: 12px;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 100px;
}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-right: 75px;
  width: 400px;
  height: 400px;


}


.subheadingprojects {

  position: absolute;
  top: 2450px;
  left: 100px;

}



.subheadingprojects1 {

  position: absolute;
  top: 2450px;
  left: 780px;

}


.subheadingprojects2 {

  position: absolute;
  top: 2450px;
  right: 100px;

}



.subheadingprojects3 {

  position: absolute;
  top: 3090px;
  left: 70px;

}


.subheadingprojects4 {

  position: absolute;
  top: 4090px;
  left: 670px;

}



.subheadingprojects5 {


  position: absolute;
  top: 3090px;
  left: 1260px;

}


.bodyprojects {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 2500px;
  left: 120px;
  text-align: center;

}

.bodyprojects1 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 2500px;
  left: 720px;
  text-align: center;

}



.bodyprojects2 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 2500px;
  left: 1270px;
  text-align: center;


}


.bodyprojects3  {


    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top:3150px;
    left: 120px;
    text-align: center;
    margin-bottom: 100px;

}


.bodyprojects4 {


    font-size: 12px;
    line-height: 10px;
    position: absolute;
      top:3150px;
    left: 720px;
    text-align: center;

}

.bodyprojects5 {


    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top:3150px;
    left: 1270px;
    text-align: center;

}


.image {
  display: inline-flex;
  object-fit: cover;
  width: 2290px;
  height: 240px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  width: 400px;
  height: 300px;
  padding: 30px 30px 30px 30px;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.containers:hover .overlay {
  opacity: .5;
}

.text {
  opacity: 20;
  color: black;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projectsWrap {
  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 180px;

}

.subheading1 {

  text-align: center;
  color: black;
}


.headingprojects {

  color: black;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}


.underline1 {

  position: absolute;
  left: 720px;
  top: 2095px;
  z-index: -200;
  width: 240px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}



/*contactpage*/


.textcontactnav {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 450px;
  left: 40px;
  z-index: 600;


}

.image1 {

  position: relative;
}

.arrow-right {
  position: absolute;
  top: 410px;
  left: 120px;
  z-index: 600;
  width: 100;
  height: 10;

}

.headingContact {

  font-weight: bold;
  font-size: 28px;
  color: white;
  position: absolute;
  left: 100px;
  top: 120px;
  color: black;
  z-index:100px;
  padding-top: 10px;
  padding-left: 30px;
  width: 700px;
  height: 90px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;

}

.contactchanelshead {

  position: absolute;
  left: -70px;
  top: -10px;
  z-index: 200;
  width: 250px;
  height: 100px;
}


.contact {

  position: absolute;
  left: 360px;
  top: 350px;
  z-index: 200;
  width: 150px;
  height: 100px;

}


.hitmeup  {
  position: absolute;
  left: 10px;
  top: 104px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.hitmeup1{

  position: absolute;
  left: 10px;
  top: 190px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.iconphotos2 {

  position: absolute;
  left: -54px;
  top: 180px;
  z-index: 10;
  width: 50%;
  height: 50%;
}

.iconphotos1  {

  position: absolute;
  left: -50px;
  top: 100px;
  z-index: 10;
  width: 150px;
  height: 150px;

}



.DropShadow1 {
  position: absolute;
  left: 250px;
  top: 350px;
  z-index: 1;
  width: 380px;
  height: 290px;
  color: white;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow2 {
  position: absolute;
  left: 340px;
  top: 400px;
  z-index: -10;
  width: 320px;
  height: 260px;
  color: black;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow3 {

  position: absolute;
  left: 80px;
  top: 60px;
  z-index: -10;
  width: 480px;
  height: 440px;
  color: white;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;

}


.dropshadow4 {

    position: absolute;
    left: -425px;
    top: 15px;
    z-index: -100;
    width: 1070px;
    height: 555px;
    background-color: #343434;
    box-shadow: 1px 1px 1px #888888;

}


.contctwarping {

  position: absolute;
  left: 160px;
  top: 264px;
  z-index: -100;
  width: 1190px;
  height: 590px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 1px #888888;


}

.logoz  {

position: absolute;
left: 600px;
top: -800px;
z-index: -100;
width: 1200px;
height: 1900px;
background-image: (.5);

}

.contactforumhead {

margin-right:33px;
padding-right: 20px;

}



.container {

  position: absolute;
  left: 750px;
  top: 310px;
  z-index: 100px;
  width: 540px;
  height: 480px;
  border-radius: 1px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #888888;


}



input[type=text], select, textarea {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #84C7FF;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 11px;
    resize: vertical;
    font-size: 12px;
}


input[type=submit] {
    background-color: #005094;
    color: white;
    margin-top: 5px;
    padding: 13px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: black;
}



/*projects page*/



.projectspageh1 {

  text-align: center;
  position: relative;
  padding-top: 70px;


}


.underline2  {


  position: absolute;
  left: 735px;
  top: 150px;
  z-index: 100px;
  width: 200px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}

.subheadingprojects10 {

  position: absolute;
  top: 500px;
  left: 100px;

}



.subheadingprojects11 {

  position: absolute;
  top: 500px;
  left: 780px;

}


.subheadingprojects12 {

  position: absolute;
  top: 500px;
  right: 105px;

}



.subheadingprojects13 {

  position: absolute;
  top: 970px;
  left: 70px;

}


.subheadingprojects14 {

  position: absolute;
  top: 970px;
  left: 670px;

}



.subheadingprojects15 {


  position: absolute;
  top: 970px;
  left: 1265px;

}


.bodyprojects10 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 550px;
  left: 120px;
  text-align: center;

}

.bodyprojects11 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 550px;
  left: 720px;
  text-align: center;

}



.bodyprojects12 {

  font-size: 12px;
  line-height: 10px;
  position: absolute;
  top: 550px;
  left: 1270px;
  text-align: center;


}


.bodyprojects13  {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 1025px;
    left: 120px;
    text-align: center;

}


.bodyprojects14 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 1025px;
    left: 705px;
    text-align: center;

}

.bodyprojects15 {

    font-size: 12px;
    line-height: 10px;
    position: absolute;
    top: 1025px;
    left: 1270px;
    text-align: center;

}


/*resumeabout*/



.headingAbout  {

  line-height: 25px;
  font-weight: bold;
  font-size: 28px;
  color: white;
  position: absolute;
  left: 80px;
  top: 90px;
  color: black;
  z-index:100px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  background-color: white;
  box-shadow: 1px 1px 12px #888888;



}

.resumeabout {

    display: inline-block;
    position: relative;
    padding-top: 280px;
    margin-bottom: 700px;
    padding-left: 100px;
    margin-left: 100px;
    width: 1200px;
    height: 1200px;
    border: 10PX 10PX 10PX 10PX;
    border-color: black;
    shadow: 42px 42px 42px 42px #888888;

}


.dropshadow6projects {


  position: absolute;
  top: 390px;
  right:190px;
  z-index: -100;
  width: 1000px;
  height: 1350px;
  background-color: grey;
  box-shadow: 2px 12px 2px #888888;
  padding-bottom: 100px;
  margin-bottom: 100px;

}


.imagez {

  display: inline-flex;
  object-fit: cover;
  width: 95%;
  height: 90%;

}

.imagezs {

  position: absolute;
  padding-bottom: 100px;
  margin-bottom: 100px;


}



.photoswapper {

  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;


}

.photos {

  -webkit-box-flex: auto;
   -ms-flex: auto;
   flex: auto;
   width: 400px;
   margin: .3vw;
   padding: 5px 5px 5px 5px;


}


.photographyheading {

    text-align: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;

}

.underline7 {

  position: absolute;
  left: 705px;
  top: 1950px;
  z-index: 100px;
  width: 270px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}

.bigwrap {

  padding-bottom: 100px;
  padding-top: 100px;
  background-color: black;
}


/*project1*/

.headingproject1 {

padding: 100px 100px 100px;
position: relative;
top: 10px;
left: 10px;
color: black;
z-index: 100;



}

h5 {

  font-size: 24px;
  line-height: 20px;
  z-index: 100;
  color: black;

}

.dropshaowprojectpage {

  position: absolute;
  top: 99px;
  left:70px;
  z-index: 10;
  width: 640px;
  height: 150px;
  background-color: White;
  box-shadow: 12px 12px 2px grey;
  font-size: 24px;


}

.modernawrapper {

display: inline;
padding-top: 40px;
padding-bottom: 40px;


}

.Moderna {

  color: black;
  margin-left: 340px;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 120px;
  box-shadow: 50px 50px 1px grey;
  max-width: 900px;
  max-width: 900px;

}


.modernaDrop {

  margin-left: 100px;
  right: 400px;
  color: black;
  max-width: 900px;
  max-width: 900px;


}


.backgroundcolor {

  background-color: white;
}


/*footer*/


.inputers {
  padding-top: 200px;
	margin-bottom: 20px;
	margin-left: 670px;
	padding: 11px 10px;
	outline: 0;
	width: 300px;
	border: 0;
}


.wrap {
	padding: 30px 15px;
	color: white;
	text-align: center;
	background-color: #003B6D;
  padding-top: 30px;
}

.social-links a {
	font-size: 20px;
	padding: 20px;
	margin-bottom: 0;
	color: white;
}


.wrapping  {

  padding-top: 1200px;

}

footer p {
	padding: 10px 10px 10px;
	margin: 10px, 10px;
	color: white;
}












@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


  .skils {

    width: 50%;
  }


  .wrapingit  {
  width: 50%;
  height: 10%;

  }

  .navbarwrap {

    width: 50%;
    height: 10%;


  }
  header {
      width: 50%;
  }

  .rightnavbar {
  height: 10%;
  width: 10%;

  }

  .projectsWrap  {
    height: 10%;
    width: 10%;

  }
  .containers {
    height: 10%;
    width: 10%;

  }
  .Textprojectswrap  {

    height: 10%;
    width: 10%;

  }







}
