
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

header {

position: fixed;
width: 100%;;
height: 50PX;
z-index: 10;
text-decoration: none;

}

nav  {

  background-color:#2E2E2E;
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  font:'Raleway', sans-serif;
  letter-spacing: 2px;
  height: 50PX;
  padding-top: 15px;
  padding-right: 50px;


}


nav a {

  padding-left: 10px;
  padding-right: 10px;
}

.leftsidenav {
  width: 40px;
  height: 400px;
  background-color: black;
}

.leftbottom {

  width: 200px;
  height: 60px;
  background-color: black;
  position: absolute;
  z-index: 120;
  left: 0px;
  top: 200;

}


.rightnavbar {

  width: 40px;
  height: 650px;
  background-color: black;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;

}


nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    justify-content: space-between;
}

h1 {
  font-size: 42px;


}

h2 {
  letter-spacing: 1px;
  font-style: normal;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 25px;
  padding-top: 20px;

}

h3 {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 12px;


}

p {
    font-size: 14px;
    padding-top: 10px;

}

h4 {
  font-size: 24px;

}



.welcome {
  font-size: 14px;
  position: absolute;
  left: 40px;
  top: 25px;
  z-index: 400px;
  color: white;
  width: 100%;


}


.wrapingit  {
  padding-left: 10px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 170px;
  padding-bottom: 170px;
  margin-top: 200px;
  padding-top: 200px;

}

.headlinestart {

  font-size: 18px;
  position: absolute;
  left: 620px;
  top: 120px;
  z-index: 100px;
  transition: all 1s;
  opacity: 1;

}


.headline {

  font-size: 18px;
  position: absolute;
  left: 120px;
  top: 910px;
  z-index: 100px;
  opacity:0 ;
  transition: all 1s;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 10px #888887;

}





.aboutstart {
  background-color: red;
  top: 0;
  left: 250px;
  opacity: 0;
  position: absolute;
  z-index: -10;
  max-width: 950px;
  max-height: 950px;
  transition: all 1s;

}

.about  {
  background-color:#FFFFFF;
  box-shadow: 10px 10px 10px #888887;


  opacity: 1;
  transition: all 1s;

}

.logostart {

  top: -900px;
  opacity: 0;
  position: absolute;
  left: 50px;
  z-index: -10;
  max-width: 450px;
  max-height: 450px;
  transition: all 1s;
}


 .logo {
  top: -200px;
  opacity: 1;
  transition: all 1s;
}


.dropShadowstart {
  top: 799px;
  opacity: 0;
  position: absolute;
  left: -650px;
  z-index: -10;
  max-width: 450px;
  max-height: 450px;
  transition: all 1.9s;
  box-shadow: 0 0 0;
}


.dropShadow {

   opacity: 1;
   left: 550px;
   top: 390px;
   z-index: 100px;
   width: 400px;
   height: 480px;
   background-color: #292929;
   box-shadow: 10px 10px 10px #888888;
   transition: all 2s;

 }

 .photoslandingstart {

   position: absolute;
   opacity: 0;
   left: 1155px;
   top: -900px;
   z-index: 100px;
   max-height: 300px;
   max-width: 400px;

 }

.photoslanding {

  opacity: 1;
  position: absolute;
  left: 355px;
  top: 290px;
  z-index: 100px;
  max-height: 300px;
  max-width: 400px;
  transition: all 1.4s;

}

.underline   {
  position: absolute;
  left: 666px;
  top: 1100px;
  z-index: 100px;
  width: 350px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}


.Heading1 {
color: white;
font-size: 42px;
font-style: normal;
text-align: center;
margin-top: 200px;
padding-top: 100px;
background:rgb(39,39,39);
text-align: center;


}

.talent {

  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top:50px;
  padding-bottom:100px;
  padding-left: 100px;
  padding-right: 100px;
  display:inline-block;
  flex-wrap: wrap;
  justify-content: space-between;

}


.skils {
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  flex-wrap: wrap;
  background:rgb(39,39,39);
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

}

.projects {
  font-size: 12px;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  margin-bottom: 60px;


}


.containers {

  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 75px;
  margin-right: 75px;
  width: 400px;
  height: 400px;


}


.subheadingprojects {

  position: absolute;
  top: 2450px;
  left: 80px;

}



.subheadingprojects1 {

  position: absolute;
  top: 2450px;
  left: 640px;

}


.subheadingprojects2 {

  position: absolute;
  top: 2450px;
  right: 150px;

}


.subheadingprojects3 {

  position: absolute;
  top: 2950px;
  left: 70px;

}





.image {
  display: inline-flex;
  width: 100%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 0;
  right: 0;
  width: 400px;
  height: 340px;
  padding: 30px 30px 30px 30px;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.containers:hover .overlay {
  opacity: .7;
}

.text {
  opacity: 20;
  color: black;
  font-size: 24px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.projectsWrap {
  font-size: 12px;
  display:inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;

}

.subheading1 {

  text-align: center;
  color: black;



}


.headingprojects {

  color: black;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  padding-top: 40px;
  text-align: center;
}


.underline1 {

  position: absolute;
  left: 720px;
  top: 2095px;
  z-index: -200;
  width: 240px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}



/*contactpage*/



.arrow-right {
  position: absolute;
  top: 400px;
  left: 100px;
  z-index: 600;
  width: 100;
  height: 10;

}

.headingContact {
  font-size: 28px;
  color: white;
  position: absolute;
  left: 100px;
  top: 120px;
  color: black;
  z-index:100px;
  padding-top: 10px;
  padding-left: 30px;
  width: 700px;
  height: 90px;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;

}

.contactchanelshead {

  position: absolute;
  left: -70px;
  top: -10px;
  z-index: 200;
  width: 250px;
  height: 100px;
}


.contact {

  position: absolute;
  left: 360px;
  top: 350px;
  z-index: 200;
  width: 150px;
  height: 100px;

}


.hitmeup  {
  position: absolute;
  left: 10px;
  top: 104px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.hitmeup1{

  position: absolute;
  left: 10px;
  top: 190px;
  z-index: 10;
  width: 150px;
  height: 150px;
  font-size: 18px;

}

.iconphotos2 {

  position: absolute;
  left: -54px;
  top: 180px;
  z-index: 10;
  width: 50%;
  height: 50%;
}

.iconphotos1  {

  position: absolute;
  left: -50px;
  top: 100px;
  z-index: 10;
  width: 150px;
  height: 150px;

}



.DropShadow1 {
  position: absolute;
  left: 250px;
  top: 350px;
  z-index: 1;
  width: 380px;
  height: 290px;
  color: white;
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow2 {
  position: absolute;
  left: 340px;
  top: 400px;
  z-index: -10;
  width: 340px;
  height: 260px;
  color: black;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;
}

.DropShadow3 {

  position: absolute;
  left: 80px;
  top: 60px;
  z-index: -10;
  width: 500px;
  height: 440px;
  color: white;
  background-color: #343434;
  box-shadow: 1px 1px 1px #888888;

}


.dropshadow4 {

    position: absolute;
    left: -425px;
    top: 15px;
    z-index: -100;
    width: 1120px;
    height: 555px;
    background-color: #343434;
    box-shadow: 1px 1px 1px #888888;

}


.contctwarping {

  position: absolute;
  left: 160px;
  top: 264px;
  z-index: -100;
  width: 1190px;
  height: 590px;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 1px #888888;


}

.logoz  {

position: absolute;
left: 600px;
top: -800px;
z-index: -100;
width: 1200px;
height: 1900px;
background-image: (.5);

}

.contactforumhead {

margin-right:33px;
padding-right: 20px;

}



.container {

  position: absolute;
  left: 750px;
  top: 310px;
  z-index: 100px;
  width: 540px;
  height: 480px;
  border-radius: 1px;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #888888;


}



input[type=text], select, textarea {
    width: 100%;
    padding: 14px;
    border: 1.5px solid #84C7FF;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 11px;
    resize: vertical;
    font-size: 12px;
}


input[type=submit] {
    background-color: #005094;
    color: white;
    margin-top: 5px;
    padding: 13px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: black;
}



/*projects page*/



.projectspageh1 {

  text-align: center;
  position: relative;
  padding-top: 60px;


}


.underline2  {


  position: absolute;
  left: 735px;
  top: 140px;
  z-index: 100px;
  width: 200px;
  height: 8px;
  background-color: #84C7FF;
  box-shadow: 1px 1px 1px #888888;

}



/*resumeabout*/

.resumeabout {

position: relative;
padding-top: 400px;
padding-bottom: 400px;
padding-left: 400px;

}


/*footer*/


.inputers {
  padding-top: 200px;
	margin-bottom: 20px;
	margin-left: 670px;
	padding: 11px 10px;
	outline: 0;
	width: 300px;
	border: 0;
}


.wrap {
	padding: 30px 15px;
	color: white;
	text-align: center;
	background-color: #003B6D;
}

.social-links a {
	font-size: 20px;
	padding: 20px;
	margin-bottom: 0;
	color: white;
}


.wrapping  {

  padding-top: 1200px;

}

footer p {
	padding: 10px 10px 10px;
	margin: 10px, 10px;
	color: white;
}


@media screen and (max-width: 900px) {
  section {
    width: 50%;
  }
    article {
      width: 50%;
  }

body {
  width: 50%;
}
nav {
  width: 50%;
}
head {
  width: 50%;
}
}
